{% extends "main.html" %}
{% load django_bootstrap5 %}

{% block title %} Ajouter un nouvel élément à la collection : {{ collection.title }}{% endblock %}
{% block content %}

   
    
    <form method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        {% bootstrap_button button_type="submit" content="Ajouter un élément" class="btn btn-success" %}
    </form>

    <br>
    <a href="/collection/{{ collection.id }}" class="btn btn-secondary">Retour à la collection</a>

{% endblock %}
